$image-border: calc(var(--border-size) * 2);

.frame-container,
.movie-img {
  display: block;
  position: absolute;
  top: $image-border;
  left: $image-border;
  width: calc(100% - $image-border * 2);
  height: calc(100% - $image-border * 2);
  object-fit: cover;
  z-index: 1;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.frame-container {
  display: flex;
}

.actor-img {
  width: 100%;
  height: auto;
}
